.container{
    display: grid;
    place-content: center;
    background-color: rgb(4, 177, 162);
}
.img1{

    display: flex;
    justify-content: center;
}
img{
    height: 50px;
    width: 60px;
    border-radius: 10px;
    
}
.bank{
    display: flex;
    gap: 2%;
}
h2{
    font-size: 15px;
    color: crimson;
}
h1{
    margin: 20px;
}
h3{
    font-size: 13px;
    color: brown;
    font-weight: 700;
}